## To install the libraries, use:
# pip -r requirements.txt


robotframework==4.0.3
robotframework-pythonlibcore==2.2.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==5.1.3
selenium==3.141.0
